# ========================================
# Environment Variables: Docker Services
# ========================================

# PostgreSQL Service Variables
DB_NAME=
DB_USER=
DB_PASSWORD=

# MongoDB Service Variables
MONGO_USER=
MONGO_PASSWORD=
MONGO_NAME=

# RabbitMQ Service Variables
RABBITMQ_USER=
RABBITMQ_PASSWORD=