# =======================================
# Environment Variables: Orders Service
# =======================================

# Variables for PostgreSQL database
DB_NAME=
DB_HOST= # localhost (assigned by zod if no env var is provided)
DB_PORT= # 5432 (assigned by zod if no env var is provided)
DB_USER=
DB_PASSWORD=

# Variables for the RabbitMQ instance (server)
ORDERS_SERVICE_URLS= # more than 1 URL must separated by commas and no spaces
ORDERS_SERVICE_QUEUE=

# Variables for the audit service connection (client)
AUDIT_SERVICE_PROXY=
AUDIT_SERVICE_HOST= # localhost (assigned by zod if no env var is provided)
AUDIT_SERVICE_PORT= # Must match with the server's port