# ===============================
# Environment Variables: Gateway
# ===============================

# Backend configuration variables
PORT= # 3000 (assigned by zod if no env var is provided)
NODE_ENV= # development (assigned by zod if no env var is provided)
THROTTLER_TTL= # 60 (assigned by zod if no env var is provided)
THROTTLER_LIMIT= # 30 (assigned by zod if no env var is provided)
ALLOWED_ORIGINS= # URLs separated by commas and no spaces (optional in development)

# RabbitMQ Settings (Docker)
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# Variables for the orders service connection (client)
ORDERS_SERVICE_PROXY=
ORDERS_SERVICE_URLS= # URLs separated by commas and no spaces
ORDERS_SERVICE_QUEUE=

# Variables for the audit service connection (client)
AUDIT_SERVICE_PROXY=
AUDIT_SERVICE_HOST= # localhost (assigned by zod if no env var is provided)
AUDIT_SERVICE_PORT= # Must match with the server's port