# =====================================
# Environment Variables: Audit Service
# =====================================

# Variables for MongoDB database
MONGO_USER=
MONGO_PASSWORD=
MONGO_NAME=
MONGO_HOST= # localhost (assigned by zod if no env var is provided)
MONGO_PORT= # 27017 (assigned by zod if no env var is provided)

# Variables for the TCP broker (server)
AUDIT_SERVICE_HOST=
AUDIT_SERVICE_PORT= # Clients must connect to this port